@import "tailwindcss";
@plugin "daisyui" {
    themes: garden --default
  }

/* Custom reusable background */
.bg-repeat-sports {
  background-image: url('../public/background.png');
  background-repeat: repeat;
  background-size: 100px 100px;
  background-position: center;
}
